[Desktop Entry]
Encoding=UTF-8
Name=Virtacoin
Comment=Virtacoin P2P Cryptocurrency
Comment[fr]=Virtacoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Virtacoin, eşten eşe kriptografik sanal para birimi
Exec=virtacoin-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/virtacoin;
Categories=Office;Finance;
